.circle {
    height: 2.7em;
    width: 2.7em;
    background-color: lightblue;
    border-radius: 60%;
    border-color: black;
    color:black;
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}