.button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 20px;
    font-size: 1.6em;
    margin-bottom: 1em;
    border-radius: 10px;
}
