.page{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    .header{
        font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: orange;
        border-radius: 10px;
        color: black;
        font-size: 1.5em;
        width: 100%;
    }
    .trait{
        margin: 10px;
        height: fit-content;
        background-color: lightgray;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    .images{
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100vw;
        height: 200px;
        img{
            flex: 0 0 auto;
            margin: 10px;
            border-radius: 10px;
            width: 200px;
            max-height: 200px;
        }
    }

    .veto{
        height: 60px;
        width: 200px;
        margin: 20px;
        font-size: 1.8em;
        padding: 10px;
        border-style: none;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    .ratings{
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        .rating{
            width: 70px;
            height: 70px;
            font-size: 1.5em;
            border-radius: 50%;
            border-style: none;
            background-color: black;
            color: white;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categoryPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

